# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
venv/

# Flask instance and cache files
instance/
*.sqlite3
*.db
*.bak

# Logs and debug files
*.log

# Virtual environment
venv/
ENV/

# Pytest cache
.pytest_cache/

# Migrations
migrations/

# System files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Backup files
*.swp
*.swo
